<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="address" class="pojo.Address">
        <property name="address" value="北京市天安门"/>
    </bean>

    <bean id="student" class="pojo.Student">
        <!-- 第1种注入 value-->
        <property name="name" value="张毅"/>
        
        <!-- 第2种注入 ref-->
        <property name="address" ref="address"/>

        <!-- 第3种注入 数组-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>

        <!-- 第4种注入 list-->
        <property name="hobbies">
            <list>
                <value>听歌</value>
                <value>看电影</value>
                <value>敲代码</value>
            </list>
        </property>
        
        <!-- 第5种注入 Map-->
        <property name="card">
            <map>
                <entry key="身份证" value="2434546562454"/>
                <entry key="银行卡" value="334xsdhjjc7"/>
            </map>
        </property>

        <!-- 第6种注入 Set-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>COC</value>
                <value>DOC</value>
            </set>
        </property>

        <!-- 第7种注入  null-->
        <property name="wife">
            <null/>
        </property>
        
        
        <property name="info">
            <props>
                <prop key="学号">PKU42043938384</prop>
                <prop key="性别">Male</prop>
                <prop key="username">HUIHbnu</prop>
                <prop key="password">cdc837hce</prop>
            </props>
        </property>
    </bean>

    



</beans>